<div class="card custom-card-style">
  <div class="card-header d-flex justify-content-between post-homepage">
    <h2 class="post-title">
      <a href="/post/{{id}}">
        <div>{{postTitle}}</div>
      </a>
    </h2>
    <div class="fs-6">posted by <span class="fw-bold">{{user.username}}</span> on {{format_date createdAt}} at {{format_time createdAt}}
    </div>
  </div>  
  <p class="card-body">
   {{postContent}}
  </p>
</div>